@import '../../index.less';

.afstemning {
  &:extend(.column, .centered.column);

  width: 100%;

  &__button {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
  }
}
