@import '../../index.less';

.afstemning-list {
  &:extend(.column, .centered.column);

  box-sizing: border-box;
  padding: 0 0.5rem;
  width: 100%;

  .afstemning {
    padding-bottom: 1rem;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
