@import '../../index.less';

.afstemning-list {
  // prettier-ignore
  &:extend(.column, .column.centered);

  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;

  .afstemning {
    margin-bottom: 0.5rem;
  }

  footer {
    display: grid;
    place-items: center;
  }
}
